@use "sass:math";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto:wght@400;500&display=swap");

$bg-color: #ecf7f3;
$white: #fff;
$green: #48b774;
$orange: #ff8345;
$gray: #7c7c7c;

$text-color: #2d2d2d;
$font-size: 16px;

$huge-circle-radius: 225px;
$large-circle-radius: 140px;
$delta-circle-radius: 10px;

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: $text-color;
}
a {
    text-decoration: none;
}
h1 {
    font-family: Poppins;
    font-weight: 700;
    font-size: 48px;
    @media (max-width: 1050px) {
        font-size: 32px;
    }
}
p {
    font-family: Poppins;
    font-weight: 500;
    font-size: 15px;
}
.header {
    background-color: $bg-color;
    padding: 30px 20px;
    &__container {
        display: flex;
        position: relative;
        justify-content: space-between;
        align-items: center;
    }
    &__logo {
        margin-right: 20px;
    }
    &__button {
        margin-left: 20px;
    }
}
.container {
    max-width: 1200px;
    margin: 0 auto;
}
.logo {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    text-decoration: none;
    &__icon {
        display: flex;
        width: 40px;
        height: 40px;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        border: 5px solid #f9a779;
        border-radius: 100%;
        span {
            font-family: Roboto;
            font-weight: 500;
            font-size: 28px;
            color: $green;
        }
    }
    &__title {
        display: block;
        font-family: Poppins;
        font-size: 25px;
        font-weight: 500;
        margin-left: 8px;
    }
}
.menu {
    width: 365px;
    font-family: Poppins;
    font-size: $font-size;
    font-weight: 400;
    &__icon {
        z-index: 5;
        display: none;
        -webkit-tap-highlight-color: transparent;
        @media (max-width: 600px) {
            display: block;
            position: relative;
            width: 30px;
            height: 28px;
            cursor: pointer;
            margin-right: 10px;
            margin-left: 5px;
            span {
                transition: 0.2s ease 0s;
                top: calc(50% - 1px);
                left: 0;
                position: absolute;
                width: 100%;
                height: 2px;
                background-color: $text-color;
                &:first-child {
                    top: 5px;
                }
                &:last-child {
                    top: auto;
                    bottom: 5px;
                }
            }
            &._active {
                span {
                    transform: scale(0);
                    &:first-child {
                        transform: translateX(5px) rotate(-45deg);
                        top: calc(50% - 1px);
                        width: 20px;
                    }
                    &:last-child {
                        transform: translateX(5px) rotate(45deg);
                        bottom: calc(50% - 1px);
                        width: 20px;
                    }
                }
            }
        }
    }
    &__list {
        display: flex;
        list-style: none;
        justify-content: space-between;
        @media (max-width: 1050px) {
            justify-content: space-around;
        }
        @media (max-width: 600px) {
            flex-direction: column;
            align-items: center;
        }
    }
    &__item {
        position: relative;
        &::after {
            display: none;
            position: absolute;
            left: 50%;
            content: "";
            width: 21px;
            height: 1.5px;
            background-color: $orange;
            transform: translateX(-50%);
            margin: 0 auto;
        }
        &:hover:after {
            display: block;
        }
        @media (max-width: 600px) {
            padding: 10px;
            width: 100%;
            text-align: center;
            & + & {
                border-top: 1px solid $text-color;
            }
        }
    }
    &__link {
        white-space: nowrap;
    }
    &._active {
        display: block;
    }
    @media (max-width: 600px) {
        display: none;
        position: absolute;
        width: max-content;
        top: 50px;
        left: calc(50% + 8px);
        transform: translateX(-50%);
        z-index: 4;
        border: 1px solid $text-color;
        background-color: $bg-color;
    }
}
.button {
    cursor: pointer;
    border: none;
    border-radius: 20px;
    background-color: $green;
    font-family: Poppins;
    font-weight: 500;
    font-size: $font-size;
    white-space: nowrap;
    color: $white;
    padding: 9px 23px;
    &:hover {
        background-color: lighten($green, 10%);
    }
}
.main {
    background-color: $bg-color;
    padding: 118px 20px 44px 20px;
    overflow: hidden;
    &__container {
        position: relative;
    }
    &__image {
        position: relative;
        width: 100%;
        z-index: 3;
    }
    &__title {
        white-space: nowrap;
        margin-bottom: 18px;
        line-height: 65px;
        @media (max-width: 1050px) {
            line-height: 40px;
        }
        @media (max-width: 768px) {
            text-align: center;
        }
    }
    &__text {
        color: $gray;
        margin-right: 54vw;
        margin-bottom: 30px;
        line-height: 26px;
        @media (max-width: 1050px) {
            min-height: 80px;
        }
        @media (max-width: 768px) {
            margin-right: 15vw;
            margin-left: 15vw;
            text-align: center;
        }
        @media (max-width: 500px) {
            min-height: 105px;
            margin-bottom: 20px;
        }
    }
    &__button {
        margin-bottom: 50px;
        @media (max-width: 768px) {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    }
    &__search {
        margin-bottom: 40px;
        @media (max-width: 768px) {
            // display: block;
            margin-left: auto;
            margin-right: auto;
        }
    }
    @media (max-width: 1050px) {
        padding: 30px 20px 30px 20px;
    }
}
.image-wrapper {
    position: absolute;
    bottom: -44px;
    right: -207px;
    width: 836px;
    height: 557px;
    font-size: 0;
    &::before {
        position: absolute;
        content: "";
        top: 73px;
        right: 276px;
        width: 2 * $large-circle-radius;
        height: 2 * $large-circle-radius;
        background-color: $green;
        border-radius: 50%;
        z-index: 2;
    }
    &::after {
        position: absolute;
        content: "";
        top: -44px;
        right: 196px;
        width: 2 * $huge-circle-radius;
        height: 2 * $huge-circle-radius;
        border: 2px solid #e8e8e8;
        border-radius: 50%;
        z-index: 0;
    }
    @media (max-width: 1050px) {
        transform: scale(0.8);
        bottom: -86px;
    }
    @media (max-width: 768px) {
        display: none;
    }
}
.circles {
    position: absolute;
    top: 213px - 32px;
    left: 420px - 5px;
    animation: rotate-left 40s linear 5s infinite;
    z-index: 1;
    &__item {
        position: absolute;
        &::after {
            display: block;
            content: "";
            width: 100%;
            height: 100%;
            background-image: url(../src/img/flag-1.png);
            background-size: cover;
            background-position: 50%;
            border-radius: 50%;
            border: $delta-circle-radius solid $white;
            animation: rotate-right 40s linear 5s infinite;
        }
        &:nth-child(1),
        &:nth-child(3) {
            width: 8 * $delta-circle-radius;
            height: 8 * $delta-circle-radius;
            &::after {
                background-image: url(../src/img/flag-1.png);
            }
        }
        &:nth-child(2),
        &:nth-child(6) {
            width: 5 * $delta-circle-radius;
            height: 5 * $delta-circle-radius;
            &::after {
                background-image: url(../src/img/flag-3.png);
            }
        }
        &:nth-child(4) {
            width: 6 * $delta-circle-radius;
            height: 6 * $delta-circle-radius;
            &::after {
                background-image: url(../src/img/flag-2.png);
            }
        }
        &:nth-child(5) {
            width: 7 * $delta-circle-radius;
            height: 7 * $delta-circle-radius;
            &::after {
                background-image: url(../src/img/flag-3.png);
            }
        }
        @for $i from 1 to 7 {
            &:nth-child(#{$i}) {
                top: -50%;
                left: -50%;
                animation: circle-#{$i} 0.4s linear 2.2s + $i * 0.4s forwards, rotate-left;
            }
        }
    }
}
.accent {
    color: $orange;
}
.search {
    position: relative;
    width: 597px;
    &__input {
        width: 100%;
        background-color: $white;
        font-family: "Roboto";
        font-weight: 400;
        font-size: $font-size;
        color: #838383;
        box-shadow: 0px 20px 30px rgba(222, 222, 222, 0.25);
        border: none;
        border-radius: 100px;
        padding: 22px 61px 22px 40px;
        &::placeholder {
            color: #a1a1a1;
        }
        &:hover,
        &:focus {
            outline: 1px solid $gray;
        }
    }
    &__button {
        position: absolute;
        top: 4px;
        right: 5px;
        width: 55px;
        aspect-ratio: 1 / 1;
        padding: 0;
        border-radius: 50px;
    }
    &__icon {
        display: block;
        width: 25.67px;
        aspect-ratio: 1 / 1;
        background: url(../src/icons/search.svg);
        margin: 0 auto;
    }
    @media (max-width: 1050px) {
        width: 310px;
    }
}
.user {
    display: flex;
    align-items: center;
    gap: 12px;
    @media (max-width: 768px) {
        justify-content: center;
        // margin-left: auto;
        // margin-right: auto;
    }
}
.user-icons {
    display: inline-flex;
    cursor: pointer;
    &__item {
        display: block;
        width: 38px;
        height: 38px;
        background-size: cover;
        background-position: 50%;
        border: 3px solid $white;
        border-radius: 50%;
        margin-left: -16px;
        @for $i from 1 to 4 {
            $z-index: 4 - $i;
            &:nth-child(#{$i}) {
                background-image: url(../src/img/user-#{$i}.png);
                z-index: #{$z-index};
            }
        }
        &:first-child {
            margin: 0;
        }
        &:last-child {
            background-image: url(../src/icons/plus.svg);
            background-size: 19px;
            background-color: $orange;
            background-repeat: no-repeat;
            z-index: 0;
        }
    }
}
.user-info {
    font-family: Roboto;
    font-weight: 500;
    font-size: $font-size;
    color: #707070;
    span:hover {
        cursor: pointer;
        text-decoration: underline;
    }
}
@keyframes rotate-right {
    to {
        transform: rotateZ(-1turn);
    }
}
@keyframes rotate-left {
    to {
        transform: rotateZ(1turn);
    }
}
@for $i from 1 to 7 {
    $offset: 4 * $delta-circle-radius;
    @if $i == 2 or $i == 6 {
        $offset: 2.5 * $delta-circle-radius;
    } @else if $i == 4 {
        $offset: 3 * $delta-circle-radius;
    } @else if $i == 5 {
        $offset: 3.5 * $delta-circle-radius;
    }
    @keyframes circle-#{$i} {
        from {
            transform: translate(-50%, -50%);
        }
        to {
            transform: translate(
                math.cos(330deg - $i * 60deg) * $huge-circle-radius - $offset,
                -1 * math.sin(330deg - $i * 60deg) * $huge-circle-radius - $offset
            );
        }
    }
}
